/* .count-container {
  display: flex;
  flex-direction: row;
  width: 200px;
  height: 60px;
  padding: 10px;
} */

.recommended-flex {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20rem;
}

.recommended-title {
  margin-left: 20rem;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 20px;
}

.product-count {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  font-size: 14px;
  font-weight: 500;
  margin-left: 35rem;
  background: transparent;
  border: none;
  border: 0.6px solid #ccc;
  border-radius: 5px;
  color: #323232;
}

@media (max-width: 1199.98px) {
  .product-count {
    margin-left: 0rem;
  }
}